.menu-item {
    .menu-link {
        transition: 0.3s;

        &:hover {
            color: darken(#ff4330, 20%);
        }
    }

    .menu-btn {
        display: flex;
        align-items: center;
        gap: 0 12px;
        margin-top: -2px;
        transition: 0.3s;

        &:hover {
            color: darken(#ff4330, 20%);
        }

        .menu-btn-img {
            transform: rotate(90deg);
            transition: 0.25s;
        }
    }
}