@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

$textFont: 'Roboto', sans-serif;

@define-mixin sectionTitle {
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
	font-family: $textFont;
}

@define-mixin sectionSubtitle {
	line-height: 31px;
	font-size: 24px;
	font-weight: 600;
	font-family: $textFont;
}
